@charset "utf-8";

/* 共通スタイル */
body{
  font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar {
  display:none;
}
  #wrap{
    width: 1000px;
    height: auto;
    max-width: 1300px;
    max-height: 600px;
    margin: auto;
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  #wrap::before{
    content: "";
    width: 40%;
    height: 60%;
    max-width: 684px;
    max-height: 375px;
    background: url(../images/bg.png) repeat;
    opacity: 0.3;

    position: fixed;
    bottom: 100px;
    right: 10%;
    z-index: 0;
    
    animation: rotate_top 60s linear infinite;
  }
  @keyframes rotate_top { 
    0% { 
     transform: rotate(0deg) translateY(-50%) rotate(0deg);
    }
    100% {  
      transform: rotate(360deg) translateY(-50%) rotate(-360deg);
    }
  }
  #wrap::after{
    content: "";
    width: 40%;
    height: 60%;
    max-width: 684px;
    max-height: 375px;
    background: url(../images/bg.png) repeat;
    opacity: 0.3;

    position: fixed;
    top: 100px;
    left: 10%;
    z-index: 0;

    animation: rotate_bottom 60s linear infinite;
  }
  @keyframes rotate_bottom { 
    0% { 
     transform: rotate(0deg) translateY(50%) rotate(0deg);
    }
    100% {  
      transform: rotate(360deg) translateY(50%) rotate(-360deg);
    }
  }
    header{
      writing-mode: vertical-rl;

      position: fixed;
      top: 50px;
      left: 5px;
      z-index: 1;
    }
      header h1{
        font-family: 'Yusei Magic', serif;
        font-size: 2.5rem;
        font-weight: 400;
      }
      header p{
        margin-right: 5px;
        line-height: 1.2rem;
      }

    main{
      box-sizing: border-box;
      width: 900px;
      height: auto;
      margin: 0 auto;

      position: relative;
      z-index: 2;
    }
      a#return{
        display: block;
        width: 80px;
        height: 30px;
        text-decoration: none;
        color: #000;
        transition: opacity 0.2s linear;
      }
      a#return:hover{
        opacity: 0.5;
      }
        a#return p{
          height: 30px;
          line-height: 30px;
          font-size: 1.2rem;
          font-weight: 300;

          position: relative;
        }
        a#return p::before{
          content: '◁';

          position: absolute;
          top: 0;
          left: 0;
        }

footer{
  width: 25px;
  height: 220px;
  transform: rotate(180deg);

  position: fixed;
  bottom: 5%;
  right: 0;
  z-index: 1;
}
  footer small{
    height: 240px;
    font-size: 0.6rem;
    text-align: center;
    writing-mode: vertical-lr;

    position: fixed;
    right: 0;
  }
  footer small::after{
    content: "";
    display: block;
    width: 8px;
    height: 240px;
    background: url(../images/NoPath.png) no-repeat;
    background-size: cover;

    position: absolute;
    right: 17px;
  }

