div.contents{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 50px 5px;

  position: relative;
}
div.contents h3{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 400;
}
div.contents p{
  line-height: 2rem;
  letter-spacing: 1.5px;
}
span.q{
  color: #7f7fff;
  font-size: 2rem;
  text-shadow: 0 0 3px;
}
span.a{
  color: #ff7f7f;
  font-size: 1.8rem;
  text-shadow: 0 0 3px;
}
div.cont{
  display: flex;
  justify-content: space-between;
}
h2{
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
}
div.cont p{
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
}
div.cont p.right{
  text-align: right;
}
div.under{
  padding-bottom: 100px;
}
div.border::after{
  content: "";
  width: 100%;
  height: 1px;
  background: url(../images/border.png);
  background-position: center center;
  background-size: cover;

  position: absolute;
  bottom: 0;
  left: 0;
}
